        /* Stylesheet for the website */
        /* Reset default styling */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body styling */
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            line-height: 1.6;
        }


        #ad {
            display: block;
            position: fixed;
            bottom: 0px;
            left: 0px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            color: black;
            cursor: pointer;
            border-radius: 4px 4px 4px 4px;
          }

    