body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background: #ff4d94;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    position: sticky;
    top: 0;
    background: #ff4d94;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

article {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}

article h2 {
    color: #333;
}

article p {
    line-height: 1.8;
    margin-bottom: 20px;
}

article .author {
    font-style: italic;
    color: #888;
    margin-bottom: 20px;
}

article .content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

article .content blockquote {
    border-left: 3px solid #333;
    padding-left: 15px;
    margin: 20px 0;
    color: #666;
}

aside {
    width: 25%;
    padding: 20px;
    background: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside h3 {
    margin-top: 0;
}

footer {
    background: #4d79ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
}
